# Configuration file

general {
    # Min: -1.0
    # Max: 0.0
    D:speedModifier=-0.65

    cargocart {
        S:canPull <
            minecraft:horse
            minecraft:donkey
            minecraft:mule
            minecraft:pig
            minecraft:skeleton_horse
            minecraft:zombie_horse
            iceandfire:dread_horse
            fossil:fossil.quagga
            betteranimalsplus:reindeer
            minecraft:player
            astikorcarts:cargocart
            astikorcarts:mobcart
            astikorcarts:plowcart
            iceandfire:hippogryph
         >
    }

    plowcart {
        S:canPull <
            minecraft:horse
            minecraft:donkey
            minecraft:mule
            minecraft:pig
            minecraft:skeleton_horse
            minecraft:zombie_horse
            iceandfire:dread_horse
            fossil:fossil.quagga
            betteranimalsplus:reindeer
            minecraft:player
            astikorcarts:cargocart
            astikorcarts:mobcart
            astikorcarts:plowcart
            iceandfire:hippogryph
         >
    }

    mobcart {
        S:canPull <
            minecraft:horse
            minecraft:donkey
            minecraft:mule
            minecraft:pig
            minecraft:skeleton_horse
            minecraft:zombie_horse
            iceandfire:dread_horse
            fossil:fossil.quagga
            betteranimalsplus:reindeer
            minecraft:player
            astikorcarts:cargocart
            astikorcarts:mobcart
            astikorcarts:plowcart
            iceandfire:hippogryph
         >
    }

}


