# Configuration file

general {
    # The minimum amount of blocks behind which particles start to get culled. Only effective if "cullBehindBlocks" is turned on.
    # Min: 1
    # Max: 50
    I:blockBuffer=1

    # Set this to false if you do not want to cull particles that technically are in the player's view but are obstructed by blocks.
    B:cullBehindBlocks=true

    # Set this to true if you don't want particles to be rendered behind glass and other transparent blocks. This does nothing if "cullBehindBlocks" is turned off.
    B:cullBehindGlass=false

    # Set this to false to disable particle culling while being in spectator mode. This is useful to take screenshots without having particles removed.
    B:cullInSpectator=true

    # Set this to false to disable all of particle culling's features.
    B:cullingEnabled=true

    # Add particle classes here that should be ignored by Particle Culling.
    # Example: To ignore Minecraft's breaking particles and any derivates, add "net.minecraft.client.particle.ParticleBreaking" to the list
    S:ignoredParticles <
        net.minecraft.client.particle.ParticleItemPickup
        electroblob.wizardry.client.particle.ParticleBeam
        electroblob.wizardry.client.particle.ParticleBlockHighlight
        electroblob.wizardry.client.particle.ParticleBuff
        electroblob.wizardry.client.particle.ParticleCloud
        electroblob.wizardry.client.particle.ParticleDarkMagic
        electroblob.wizardry.client.particle.ParticleDust
        electroblob.wizardry.client.particle.ParticleFlash
        electroblob.wizardry.client.particle.ParticleGuardianBeam
        electroblob.wizardry.client.particle.ParticleIce
        electroblob.wizardry.client.particle.ParticleLeaf
        electroblob.wizardry.client.particle.ParticleLightning
        electroblob.wizardry.client.particle.ParticleLightningPulse
        electroblob.wizardry.client.particle.ParticleMagicBubble
        electroblob.wizardry.client.particle.ParticleMagicFlame
        electroblob.wizardry.client.particle.ParticlePath
        electroblob.wizardry.client.particle.ParticleScorch
        electroblob.wizardry.client.particle.ParticleSnow
        electroblob.wizardry.client.particle.ParticleSpark
        electroblob.wizardry.client.particle.ParticleSparkle
        electroblob.wizardry.client.particle.ParticleSphere
        electroblob.wizardry.client.particle.ParticleTargeted
        electroblob.wizardry.client.particle.ParticleTornado
        electroblob.wizardry.client.particle.ParticleVine
        electroblob.wizardry.client.particle.ParticleWizardry
        com.windanesz.ancientspellcraft.client.particle.ParticleConstantBeam
        com.windanesz.ancientspellcraft.client.particle.ParticleSoulChain
        com.windanesz.ancientspellcraft.client.particle.ParticleTimeKnot
        electroblob.tfspellpack.client.particle.ParticleCloud
        electroblob.tfspellpack.client.particle.ParticleDarkBeam
        electroblob.tfspellpack.client.particle.ParticleDarkMist
        electroblob.tfspellpack.client.particle.ParticleRaindrop
        thebetweenlands.client.render.particle.BLParticles
        thebetweenlands.client.render.particle.BatchedParticleRenderer
        thebetweenlands.client.render.particle.DefaultParticleBatches
        thebetweenlands.client.render.particle.ParticleBatchTypeBuilder
        thebetweenlands.client.render.particle.ParticleFactory
        thebetweenlands.client.render.particle.ParticleTextureStitcher
        thebetweenlands.client.render.particle.VanillaParticleFactory
        thebetweenlands.client.render.particle.entity.ParticleAltarCrafting
        thebetweenlands.client.render.particle.entity.ParticleAnimated
        thebetweenlands.client.render.particle.entity.ParticleAnimator
        thebetweenlands.client.render.particle.entity.ParticleBLRain
        thebetweenlands.client.render.particle.entity.ParticleBeam
        thebetweenlands.client.render.particle.entity.ParticleBlockProtection
        thebetweenlands.client.render.particle.entity.ParticleBreakingBL
        thebetweenlands.client.render.particle.entity.ParticleBubbleBL
        thebetweenlands.client.render.particle.entity.ParticleBug
        thebetweenlands.client.render.particle.entity.ParticleCaveWaterDrip
        thebetweenlands.client.render.particle.entity.ParticleChiromawDroppings
        thebetweenlands.client.render.particle.entity.ParticleChiromawFeathers
        thebetweenlands.client.render.particle.entity.ParticleDamageReduction
        thebetweenlands.client.render.particle.entity.ParticleDraetonBurnerFlame
        thebetweenlands.client.render.particle.entity.ParticleDruidCasting
        thebetweenlands.client.render.particle.entity.ParticleEmissiveBug
        thebetweenlands.client.render.particle.entity.ParticleEmissiveSwarm
        thebetweenlands.client.render.particle.entity.ParticleEntitySwirl
        thebetweenlands.client.render.particle.entity.ParticleFancyBubble
        thebetweenlands.client.render.particle.entity.ParticleFancyDrip
        thebetweenlands.client.render.particle.entity.ParticleFish
        thebetweenlands.client.render.particle.entity.ParticleFishVortex
        thebetweenlands.client.render.particle.entity.ParticleGasCloud
        thebetweenlands.client.render.particle.entity.ParticleLifeEssence
        thebetweenlands.client.render.particle.entity.ParticleLightningArc
        thebetweenlands.client.render.particle.entity.ParticleMoth
        thebetweenlands.client.render.particle.entity.ParticlePuzzleBeam
        thebetweenlands.client.render.particle.entity.ParticlePuzzleBeam2
        thebetweenlands.client.render.particle.entity.ParticleRingOfRecruitmentState
        thebetweenlands.client.render.particle.entity.ParticleRootSpike
        thebetweenlands.client.render.particle.entity.ParticleSilkMoth
        thebetweenlands.client.render.particle.entity.ParticleSimple
        thebetweenlands.client.render.particle.entity.ParticleSonicScream
        thebetweenlands.client.render.particle.entity.ParticleSoundRipple
        thebetweenlands.client.render.particle.entity.ParticleSpiritButterfly
        thebetweenlands.client.render.particle.entity.ParticleSwarm
        thebetweenlands.client.render.particle.entity.ParticleSwirl
        thebetweenlands.client.render.particle.entity.ParticleTarBeastDrip
        thebetweenlands.client.render.particle.entity.ParticleThem
        thebetweenlands.client.render.particle.entity.ParticleUrchinSpike
        thebetweenlands.client.render.particle.entity.ParticleVisionOrb
        thebetweenlands.client.render.particle.entity.ParticleWaterRipple
        thebetweenlands.client.render.particle.entity.ParticleWeedwoodLeaf
        thebetweenlands.client.render.particle.entity.ParticleWisp
        thebetweenlands.client.render.particle.entity.ParticleXPPieces
        thebetweenlands.client.render.particle.entity.PathParticle
        twilightforest.client.particle.ParticleAnnihilate
        twilightforest.client.particle.ParticleFirefly
        twilightforest.client.particle.ParticleGhastTear
        twilightforest.client.particle.ParticleGhastTrap
        twilightforest.client.particle.ParticleIceBeam
        twilightforest.client.particle.ParticleLargeFlame
        twilightforest.client.particle.ParticleLeaf
        twilightforest.client.particle.ParticleLeafRune
        twilightforest.client.particle.ParticleProtection
        twilightforest.client.particle.ParticleSmokeScale
        twilightforest.client.particle.ParticleSnow
        twilightforest.client.particle.ParticleSnowGuardian
        twilightforest.client.particle.ParticleSnowWarning
        twilightforest.client.particle.TFParticleFactory
        twilightforest.client.particle.TFParticleType
        team.cqr.cqrepoured.client.particle.ParticleBeam
        team.cqr.cqrepoured.client.particle.ParticleMagicBell
        com.unoriginal.beastslayer.particles.ParticleColoredDrip
        com.unoriginal.beastslayer.particles.ParticleRift
        com.unoriginal.beastslayer.particles.ParticleSandSpit
        com.unoriginal.beastslayer.particles.ParticleWispFire
        com.Fishmod.mod_LavaCow.client.particle.ParticalLocustSwarm
        com.Fishmod.mod_LavaCow.client.particle.ParticleWitherFlame
        erebus.client.fx.ParticleBubbleGas
        erebus.client.fx.ParticleRepellent
        erebus.client.fx.ParticleSonic
        erebus.client.fx.ParticleTextureStitchEvent
     >
}


