# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=true

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        The game is only as fun as you make it.
        You can shear creepers to take away their ability to explode. This might not work with the other creeper variants, be advised.
        Looking for crafting recipes? Just search the item in JEI and left click it. Right click for its uses.
        Dungeontactics plate armors are very good early game.
        Dungeontactics lanterns can protect your base from mobs spawning and mobs trying to enter it. Feeling cheesy? place it mid-combat with mobs.
        Your Simple Storage remote is not working? Craft a simple/deluxe chunkloader and place it near your Network Master.
        Some mobs phase through walls. Be careful when you AFK.
        Backpacked backpacks will stay with you even after respawning from death.
        No item is a waste. Even that stack of dirt can be used by important stuff, like Sifters for Fossils and Archaelogy.
        Shopkeepers from villages have all the basic necessary items you need to survive.
        Trap chests in villages trigger a stealing event so avoid opening them when there is a witness.
        Declining a quest from a village lords will not result in loss of reputation. You can keep cycling through those quests if its bugged or you cannot finish it.
        Intestines have large lootpool that can help you.
        To go to the Twilight Forest, you need a terrestrial artifact instead of a diamond.
        Some food can keep you warm. These are mostly stews.
        Back Pergamines are obtained from Dungeons Mod special villagers or crafted. These items can teleport you to your last death. Careful, as this can only be used once and disconnecting will make it not work.
        The Bone Sword from Fish's Undead Rising deals true damage equal to a percent of the non-boss target's HP. This can deal massive damage to enemies that have high HP.
        Some weapons can have effects that affect the user or the target when the weapon crits.
        You can combine previously mutually exclusive enchantments.
        Enchating does not have an increasing xp penalty as well as repairing.
        Ducttapes are useful items that can repair most items.
        Most armor have set bonuses to them which makes them more powerful and viable.
        Do not take on dragons without proper preparation. They are buffed to the max in this pack, but they are beatable rest assure.
        There are a variety of range weapons you can use if you do not feel using melee weapons in combat.
        Concrete is now craftable by surrounding a water bucket with concrete powder.
        Waystones are valuable items that can transport you from one place to another. There is also a spell for that as an alternative.
        The Bag of Hoarding is a very powerful item that serves as a portable ender chest.
        Aether trinkets will not be put inside your corpse when you die. You have to pick them up as they are destructible like any other items.
        The Seamoth will help you traverse the oceans much more safer.
        Life Shards can rarely drop from intestines. It is safe to use them for a maximum of 10 times. If you go over the use, it will still increase your HP, but when you die, you permanently lose all of it--including the first 10 you had. Not really worth the gamble unless you are on Hardcore.
        A lot of crafting recipes are tweaked. Be sure to always check JEI.
        A lot of items are smeltable, one example of many is that a compass can be smelt for iron.
        Teleport Stones are very powerful items that can save locations of various places.
        Magic Mirrors, Wormhole Mirrors, Recall Potions, and Wormhole Potions cannot be used to go other Dimensions. While some spells can--waystones and its scrolls also can.
        Make sure to change your settings first to suit your needs (render distance, auto jump, Optifine installation, Essential mod for multiplayer, etc.), Simple Voice Chat, and more.
        Make sure to change your controls first as well and make sure to check if there are no conflicting key binds for smooth gameplay.
        Most NPCs and mobs are out to kill the player, but there are many weapons and magic spells that the player can utilize to their advantage. EBWizardry will help you a lot so learn it early in the game!
        Most neutral mobs have a chance to become completely hostile. Be wary of endermen, especially at the End dimension.
        Soul Bottles are powerful items that can store a non-boss mob in a bottle.
        Dungeon tactics Braziers are toggle-able spawners when given a soul shard of a mob. A soul shard is eligible to be given to the brazier upon reaching 50 souls. A soul is obtained from the first mob killed while holding the shard.
        A lot of mobs have gear with them, sometimes these mobs even ride horses. Special mobs also spawn. Be on the lookout for infernal mobs, naturally spawning charged creepers, TNT throwing mobs etc.
        Mobs that have pickaxes will break blocks to get to the player.
        Mobs that have a shield will use it. axes, battleaxes, maces, hammers, warhammers, and blockandchains can disable shields.
        If a hostile mob is stuck in water, it will find a way to get to the player one way or another.
        The player can disenchant enchantments from armor and enchanted books, and store XP in bottles.
        Lots of new transformations from transformation powders that can drop from infernal and champion mobs!
        Transformation Powder (Twilight Forest) can be used on evil wizards and dread liches. They will transform into bosses, be advised.
        The Twilight Forest now has a Final Boss!
        Dungeons are very hard but will reward you with a ton of loot. There are also many custom roguelike dungeons to explore.
        Horses can be summoned anywhere provided they were set as the player's personal horse and provided that they are alive.
        Nature's compass can help the player find specific biomes. For example, finding magical forests and sacred springs can grant the player access to hot spring water for easy healing.
        You can revive and tame dinosaurs which can help you in your journey.
        Be careful who you pick a fight with! Some mobs have factions and alliances.
        Bodies of water are essentially death traps. Many mobs lurk there with the sole intent of killing you.
        Many structures to find while exploring, proceed with caution as these structures harbor hostile NPCs that are very deadly.
        Elytra can be combined with chestplates. The player can toggle the elytra on/off via keybind.
        At -8000 on the Z coordinate, a huge wall stands. Atop of this colossal structure is the home of many dragons. They are very dangerous. Beyond the wall increases the spawn rate of CQR dungeons.
        There is no natural regeneration, damage is split into body parts. Getting your HP on your body and head to zero instantly kills you.
        Some cave flora can provide a reliable way of healing
        Mobs you kill can drop heart drops which will heal you upon contact. Organic mobs can also drop intestines which have a variety of items including healing ones.
        Crafting bandages is very expensive, you can buy them instead with emeralds from villages that have shopkeepers (check out all of their trades).
        Emerald can be easily obtained through trading with Traveler villagers which can be summoned by lighting a coal block on fire or talking to them at villages where they spawn naturally.
        There are spells in the game that can heal you, this is very invaluable when exploring.
        Biomes O' Plenty's hot spring waters can also heal you so make sure to take a lot of them. Their buckets are stackable.
        Farm ambrosium shards from the Aether, these shards very easy to get and can instantly heal you upon usage.
        Some structures have NPCs that have priests that will heal you.
        Sleeping will heal half your maximum hearts.
        Enchanted Golden apples are made fairly common and have a crafting recipe.
        When you die, a corpse spawns at your place and keeps your items in them indefinitely so you do not have to worry about losing your items.
        Upon death, a moving corpse will also spawn at the place of your death, they can be sometimes hostile.
        You can also use a toolbelt for better tool coverage.
        Cosmetic armor is also a good storage for spare armor since it keeps them through death as well.
        A lot of items are now stackable and some of those that are already stackable have their stacksize increased to 64.
        There is a temperature gauge that responds to the environment that surrounds the player, be careful with blocks/items, biomes, and the seasons that constantly change.
        Canteens are a good solution for thirst. The player can purify them using charcoal filters, or heat water bottles in a furnace for safe drinking.
        Some foods and potions can also help wth your thirst.
        Drinking unpurified water might kill you.
        Some armors can help mitigate temperature harm and some even have set bonuses that completely negates them.
        There are waystones that can spawn in villages to make your travelling easier.
        There is a reputation system for villages, be careful not to open chests, break blocks, and hurt villagers while in the village. The consequences can be bypassed if the player attains a certain level of reputation.
        Higher village reputation also means better trade deals.
        Most villages have a villager king that gives the player quests, complete these for rewards and reputation.
        Biomesoplenty gems and Betteranimals plus heads can give you a lot of reputation if you donate them to village lords.
        Nitwits have trades, some are useful, some are not.
        Traveller villagers love sugar. Sugarcanes can be bonemealed, provided its their season.
        Using shaders in other modded dimensions might not be visually appealing. It is recommended to switch to no shaders when going in these dimensions.
        Paintings aren't considered to be blocks.
        Skeletons won't shoot if they can't see your face.
        Never dig straight down.
        A shelter made of dirt is still a shelter.
        Don't leave your house without closing the door.
        Check underneath a Diamond Ore block before mining it.
        Watch where you step - deep shafts can be anywhere.
        Cliff overhangs and lighting glitches can spawn hostile mobs.
        Gold may be weak, but it's better than nothing.
        Always bring tons of logs with you when exploring caves.
        Always check your surroundings before entering a fight.
        Don't store spare TNT blocks near your Redstone circuits.
        You can always come back later and mine some more.
        Unlike the other tools, the hoe is used by right-clicking.
        Always keep a spare stack of blocks in your active inventory.
        Raw meat is better than no meat.
        Blocks can be mined faster if you time your clicks correctly.
        Placing a torch under sand as it falls speeds up the process.
        Animals push you around if you leave the game idle (again).
        Ghasts have lower health than any other hostile mob.
        You can reflect a Ghast's fireball by simply hitting it.
        Mobs might not drop loot if they die from explosions.
        Don't take huge risks far from home.
        If you hear a cave noise above ground, there's one nearby.
        If you hear a lot of monsters, it's probably a dungeon.
        Mining cave ceilings can easily lead to disaster.
        Catching on fire can easily drain an entire health bar.
        The best time to do anything is before it's too late.
        Melee weapons are categorized into 3 attributes: One Hand, Two Hand, and Main Hand. These attributes override Spartan Weaponry's hand attributes, so do not skip reading what your item does.
        Wood is the most versatile resource in the game.
        Never expect that nothing will happen while you're gone.
        Always treat modders with respect.
        Baby slimes are terribly vulnerable to fall damage.
        The sun and the compass are both useful for directions.
        Sand on red dust on TNT can make a falling floor trap.
        Easier rarely means funner.
        Zombies can reach pretty far and hit pretty hard.
        Arrows reflect off of creatures recently damaged.
        Be careful not to misclick when building portals.
        Sand is useful for getting down from high places.
        If all you can hear is footsteps, it's a Creeper.
        It's misleading to locate monsters by sound alone.
        Spider jockeys will dismount after a save and reload.
        You can harvest Aechor Plant's poison with Skyroot Buckets.
        Placing a saddle on Flying Pigs makes them a mount.
        Moa Eggs can be incubated into Baby Moas with the Incubator.
        Gravitite Ore can be enchanted into Enchanted Gravitite.
        Enchanted Gravitite only floats up when powered.
        Enchanted Gravitite can be crafted into armour and tools.
        Gravitite Armour grants you higher jumps and no fall damage.
        Gravitite Tools can levitate blocks when right-clicking.
        Baby Moas will stay put when right clicking them with a nature staff.
        Golden Oak trees yield valuable Golden Amber in their logs.
        Enchanters can repair damaged items and enhance existing items.
        Skyroot tools gain double drops from blocks.
        Place water into a Glowstone frame for a Hostile Paradise.
        Zanite Tools gain strength the more they are used.
        Ambrosium Shards are great for fueling Enchanters and food.
        Icestone freezes water into ice and lava into obsidian.
        Some dungeons in the Aether contain chests which are Mimics.
        White Aerclouds prevent fall damage when landed upon.
        Blue Aerclouds are bouncy, and launch mobs very high in the air.
        Cloud Parachutes can be crafted with four White Aercloud blocks. 
        Parachutes auto-activate when falling off an island.
        Golden Parachutes have twenty uses rather than one.
        The leaves of Golden Oak trees occasionally drop Golden Apples.
        Aerogel acts as an explosion-resistant, transparent block.
        Quicksoil increases the speed of walking mobs and sliding items.
        Holystone tools occasionally generate Ambrosium.
        Dungeons can contain extremely powerful and unique rewards. 
        Dungeons have various difficulties: from Bronze, Silver, to Gold.
        Normal music disks can be enchanted into a Blue version.
        Golden, Poison, and Enchanted Darts are not affected by gravity.
        Dart Shooters can be crafted with Skyroot Logs and Zanite Gemstones.
        A Remedy Bucket for poison can be obtained by enchanting Poison.
        Gravitite Armour increases your jump-height when a full set is worn.
        Try submerging yourself in water while wearing Phoenix Armour.
        Zephyrs shoot snowballs with a force that can throw you off islands.
        Days in the Aether realm last three times longer than surface days.
        Sheepuff occasionally puff their wool out, making them float.
        When Valkyries are defeated they will drop a Victory Medal.
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


