# Configuration file

##########################################################################################################
# behaviour
#--------------------------------------------------------------------------------------------------------#
# Options for customizing the mechanics of the belt
##########################################################################################################

behaviour {
    # If set to TRUE, the internal anvil upgrade will not work, and alternative methods for upgrades will have to be provided externally.
    B:disableAnvilUpgrading=false
}


##########################################################################################################
# display
#--------------------------------------------------------------------------------------------------------#
# Options for customizing the display of tools on the player
##########################################################################################################

display {
    # Changes the scale of items on the belt.
    D:beltItemScale=0.5

    # If set to FALSE, the belts and tools will NOT draw on players.
    B:showBeltOnPlayers=true
}


##########################################################################################################
# input
#--------------------------------------------------------------------------------------------------------#
# Options for customizing the interaction with the radial menu
##########################################################################################################

input {
    # If set to TRUE, the radial menu will allow clicking outside the outer circle to activate the items.
    B:allowClickOutsideBounds=false

    # If set to TRUE, the radial menu will try to prevent the mouse from leaving the outer circle.
    B:clipMouseToCircle=false

    # If set to TRUE, the radial menu will always display all the slots, even when empty, and will allow choosing which empty slot to insert into.
    B:displayEmptySlots=false

    # If set to TRUE, releasing the menu key (R) will activate the swap. Requires a click otherwise (default).
    B:releaseToSwap=true
}


items {
    # List of items to disallow from placing in the belt.
    S:blacklist <
        carryon:tile_item
        carryon:entity_item
     >

    # List of items to force-allow placing in the belt. Takes precedence over blacklist.
    S:whitelist <
        comforts:sleeping_bag
        comforts:sleeping_bag@1
        comforts:sleeping_bag@2
        comforts:sleeping_bag@3
        comforts:sleeping_bag@4
        comforts:sleeping_bag@5
        comforts:sleeping_bag@6
        comforts:sleeping_bag@7
        comforts:sleeping_bag@8
        comforts:sleeping_bag@9
        comforts:sleeping_bag@10
        comforts:sleeping_bag@11
        comforts:sleeping_bag@12
        comforts:sleeping_bag@13
        comforts:sleeping_bag@14
        comforts:sleeping_bag@15
        minecraft:saddle
        forge:bucketfilled
        minecraft:potion
        minecraft:splash_potion
        minecraft:lingering_potion
        iceandfire:jar_pixie
        waystones:warp_stone
        twilightforest:glass_sword
        minecraft:totem_of_undying
        ebwizardry:purifying_elixir
        biomesoplenty:jar_filled
        mod_lavacow:frozenthigh
        mod_lavacow:holy_grenade
        mod_lavacow:ghostbomb
        mod_lavacow:sonicbomb
        mod_lavacow:basicbomb
        dungeontactics:magic_tether
        twilightforest:ice_bomb
        ebwizardry:firebomb
        ebwizardry:poison_bomb
        ebwizardry:smoke_bomb
        ebwizardry:spark_bomb
        ebwizardry:small_mana_flask
        ebwizardry:medium_mana_flask
        ebwizardry:large_mana_flask
        firstaid:bandage
        firstaid:plaster
        firstaid:morphine
        cqrepoured:potion_healing
        aether_legacy:lightning_knife
        dungeontactics:heart_jar
        dungeontactics:heart_golden
        dungeontactics:throwing_knife
        dungeontactics:throwing_knife_slowness
        dungeontactics:throwing_knife_weakness
        dungeontactics:throwing_knife_poison
        dungeontactics:throwing_knife_caustic
        dungeontactics:bomb_frag
        dungeontactics:bomb_frag_cluster
        dungeontactics:bomb_pyro
        dungeontactics:bomb_pyro_cluster
        dungeontactics:bomb_porting
        dungeontactics:bomb_porting_cluster
        dungeontactics:bomb_cryo
        dungeontactics:bomb_cryo_cluster
        simpledifficulty:purified_water_bottle
        simpledifficulty:juice
        simpledifficulty:juice@1
        simpledifficulty:juice@2
        simpledifficulty:juice@3
        simpledifficulty:juice@4
        simpledifficulty:juice@5
        simpledifficulty:juice@6
        simpledifficulty:juice@7
        simpledifficulty:juice@8
        simpledifficulty:juice@9
        ancientspellcraft:unsealing_scroll
        necromancersdelight:stink_bomb
        necromancersdelight:frost_bomb
        ancientspellcraft:devoritium_bomb
        charm:charged_emerald
        dungeontactics:bottled_milk
        bountifulbaubles:potionwormhole
        bountifulbaubles:potionrecall
        rustic:fluid_bottle
        dungeonsmod:back_pergamine
        waystones:return_scroll
        waystones:bound_scroll
        waystones:warp_scroll
        minecraft:bucket
        aether_legacy:ambrosium_shard
        thebetweenlands:elixir
        thebetweenlands:dentrothyst_vial
        thebetweenlands:dentrothyst_fluid_vial
        thebetweenlands:aspect_vial
     >
}


slot {
    # If AUTO, the belt slot will be disabled if Baubles is present. If OFF, the belt slot will be disabled permanently.
    S:customBeltSlotMode=off
}


