# Configuration file

zombie_players {
    # Only used it Spawning_spawnZombiePlayersNaturally is true. Minecraft profile names to use when naturally spawning in zombie players
    S:Spawning_playerNamesToUse=PhoenixfireLune, Corosus, Cojomax99, Mr_okushama, tterrag, medsouz, SirTerryWrist, MrRube, MumboJumbo, Grian, Shivaxi, Dream, ForgeLabsSean, Technoblade, Ph1LzA, CaptainSparklez, SSundee, DanTDM, LDShadowLady, PrestonPlayz, GeorgeNotFound, Sapnap, TommyInnit, Tubbo, WilburSoot, Quackity, Ranboo, IballisticSquid, ShadowMech27, Legundo, RobertGuy, unsorted_guy, I_AM_GERD, ChosenArchitect, Etho, X28107, Xvareon, Elmoooooow, StoneWarrior108, EdoYumaMC, Yvesmain, KK11NGG, Diiyona, GreedM4N, armonykle, Sejo02, rylgel, artemischi, RoiyaruzuRyuuo, CalaMariGold, Foreck, Sandwich_Horror, kilo_, TheEliteMeats, GoodTimesWithScar, TangoTek, ImpulseSV, xBCrafted, FalseSymmetry, cubfan135, xisumavoid, stampylonghead, PopularMMOs, iHasCupquake, SkytheKidRS, Docm77, ilmango, gnembon, direwolf20, SB737, SolidarityGaming, Pixlriffs, PearlescentMoon, fWhip, SmallishBeans, MythicalSausage, KatherineElizabeth, Luke_TheNotable, Sandiction, Joosh, TrixyBlox, Bionic, WadZee, Painful, StressMonster101, JoeHillsTSD, ZombieCleo, Keralis, BdoubleO100, Welsknight, TinfoilChef, rendog, iJevin, VintageBeef, hypnotizd, KZminor, Monkeyfarm, WinDanesz, Quickboyy, SaltySneve, _Union, Calvin, skipthetutorial, FoolishGamers, Slimecicle, JaidenAnimations, CaptainPuffy, Roier, RubiusOMG, ElMariana, LuzuGames, Missasinfonia, Vegetta777, Cellbit, Felps, T3ddy, Bagi, AntoineDaniel, Aypierre, Scarra, LilyPichu, DisguisedToast, michaelreeves, yvonnie, Sykkuno, Valkyrae, fuslie, QuarterJade, Masayoshi, brodin, TinaKitten, KarlJacobs, Corpse_Cattt, PewDiePie, JackSepticEye, Pokimane, Suevo, jeb_, LadyAgnes, Notch, Dinnerbone, slicedlime, kingbdogz, _grum, Searge

    # Spawn zombie players naturally in the world, will spawn in every biome zombies do
    B:Spawning_spawnZombiePlayersNaturally=true

    # Only used it Spawning_spawnZombiePlayersNaturally is true. Weight of zombie players, higher = more likely to spawn, vanilla sets zombie as 100
    I:Spawning_weight=1

    # Any player that joins your dedicated server will have their name added to the Spawning_playerNamesToUse list
    B:automaticallyAddJoinedPlayersToNamesList=true

    # To help prevent endless multiplication of zombies if you die near your own spawn point
    I:distanceFromPlayerSpawnPointToPreventZombieSpawn=16

    # Use at own risk, will not support
    B:enableAdvancedDeveloperConfigFiles=false

    # Finds visible chests near and randomly moves contents around, only zombie players spawned from actual players use this
    B:messUpChests=false
    B:opensDoors=true
    B:pickupLootWhenCalm=false
    B:pickupLootWhenHostile=false

    # Only spawn a zombie player if the player died by a zombie directly
    B:requiresDeathByZombieToSpawnZombiePlayer=false
}


